.wrapper {
    font-family: "Pricedown", sans-serif;
    background-color: var(--xmtp-action-color-primary);
    color: #ff69b4 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
    border: 0;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.secondary {
    font-family: "Pricedown", sans-serif;
    color: #ff69b4 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.disconnectButton {
    font-family: "Pricedown", sans-serif;
    color: #ff69b4 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.disconnectButton:hover {
    font-family: "Pricedown", sans-serif;
    background-color: rgba(255, 105, 180, 0.1) !important;
}
