@font-face {
    font-family: "Pricedown";
    src: url("../pages/fonts/pricedown_bl.otf") format("opentype");
    /* Adjust the path as needed */
}

@font-face {
    font-family: "SF_Arborcrest";
    src: url("../pages/fonts/SF_Arborcrest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Pricedown", "Press Start 2P", cursive, Arial, Helvetica,
        sans-serif;
    /* Use the new font */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.profile-picture {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    border-radius: 50%;
    /* Make it a circle */
    object-fit: cover;
    /* Ensure image covers the circle */
}
